.Review_Container {
  display: flex;
  overflow-x: scroll;
  width: 40vw;
}
.Review_Wrapper {
  background-color: white;
  width: fit-content;
  display: flex;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  flex-direction: column;
}
.Review_Top {
  display: flex;
  gap: 20px;
  align-items: center;

  > h6 {
    font-weight: 400;
    font-size: 1.1rem;
  }
}
