.Home_Page {
  position: relative;
}
.hero_image {
  position: relative;
  object-fit: contain;
  width: -webkit-fill-available;
}

.Home_btn {
  text-transform: capitalize;
  background: rgba(255, 124, 37, 0.8235294118);
  color: black;
  padding: 1rem 1.5rem;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  bottom: 5vh;
  left: 40vw;
  margin: auto;
  position: absolute;
  background-color: #a5cf39dc;
}
.Home_btn:hover {
  background-color: #a5cf39;
}
@media screen and (max-width: 468px) {
  .Home_Page {
    position: relative;
  }
  .Home_btn {
    position: absolute;
    bottom: 2vh;
    left: 25vw;
    font-size: 0.85rem;
  }
}
