.Home_Page {
  background-image: url("../../assets/images/Compressed Hero Image.png");
  background-repeat: no-repeat;
  height: 80vh;
  width: 100vw;
  position: relative;
}
.Home_btn {
  text-transform: capitalize;
  background: rgba(255, 124, 37, 0.8235294118);
  color: black;
  padding: 1rem 1.5rem;
  letter-spacing: 2px;
  display: inline-block;
  font-weight: 700;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  bottom: 8vh;
  margin: auto;
  position: absolute;
  background-color: #a5cf39;
}
@media screen and (max-width: 468px) {
  .Home_Page {
    background-image: url("../../assets/images/Mobile Compressed Hero Image.png");
    width: 100vw;
    height: 40vh;
    background-position: center;
    background-size: cover;
  }
  .Home_btn {
    bottom: 5vh;
    font-size: 1rem;
  }
}
